#header {
  font-family: "Oswald", sans-serif;
  background: url("/linkedin_banner_image_2.png");
  background-size: cover;
  color: #ffffff;
}

#header #inner {
  background: rgba(119, 79, 56, 0.85);
  padding: 1rem;
}

#header h1 {
  margin: 0;
}

#header h1 a {
  color: #ffffff;
  text-decoration: none;
}
